body {
    margin: 0;
}

.nav1, .nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(20px, 4vw, 50px);
    border-bottom: 1px solid;
    padding: 10px;
}

.nav2 {
    padding: 10px 15vw;
}

.top img {
    width: clamp(15px, 2vw, 30px);
    height: clamp(15px, 2vw, 30px);
    margin: 5px;
}

.wishlist {
    text-align: center;
}

.wishlist p, .wishlist img {
    margin: 0;
}

#slogan {
    margin: 10px auto 10px auto;
    text-align: center;
}

#products {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.home-indiv-prods {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

@media (min-width: 1100px) {
    #products {
        gap: 150px;
    }
    .home-indiv-prods {
        margin-bottom: 0;
    }
}

.prod-img {
    height: clamp(400px, 100vw, 600px);
    width: 255px;
}

.home-prod-desc {
    height: 100px;
    width: 150px;
    border: 1px solid;
    margin-top: 100px;
    padding: 5px;
    border-radius: 10px;
}

.desc-text {
    margin-top: 10px;
    margin-bottom: 0;
}

.overlay {
    position: absolute;
    left: 50.5%;
    top: 43%;
    transform: translate(-50%, -50%);
}

.go-arrow {
    margin-left: 113px;
}

footer {
    text-align: center;
    height: 35px;
}