/* General and pop up styling */
body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

#added-pop-up, #size-warning, #empty-warning {
    display: none;
}

.nav1, #added-pop-up.active, #cart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(20px, 4vw, 50px);
    border-bottom: 1px solid;
    padding: 10px;
}

#size-warning.active, #empty-warning.active {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid;
}

header img, #cart-top img, #checkout-button img, .move-to-wishlist img {
    width: clamp(15px, 2vw, 20px);
    height: clamp(15px, 2vw, 20px);
    margin: 5px;
}
/* ---------- */

main {
    margin-top: clamp(20px, 4vw, 50px);
    padding: 25px 0 0 0;
}

.indiv-prods {
    display: none;
}

.indiv-prods.active {
    display: flex;
    flex-wrap: wrap;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    padding: 20px;
    gap: 20px;
}

.full-prod-desc {
    padding: 20px;
    width: 400px;
    margin: 0 auto 0 auto;
}

.prod-desc {
    display: flex;
    justify-content: space-between;
}

.options {
    height: 150px;
}

.colours {
    display: flex;
    gap: 5px;
    margin-bottom: 30px;;
}

.buttons {
    border: 1px solid;
    border-radius: 10px;
    height: 30px;
}

@media (max-width: 970px) {
    .images {
        width: 40%;
    }
    .images img {
        width: 250px;
        height: 377px;
    }
    .full-prod-desc {
        width: 310px;
    }
}

@media (max-width: 390px) {
    .images {
        width: 100%;
    }
    .images img {
        width: 105px;
        height: 165px;
    }
}

#headings {
    display: flex;
    gap: 30px;
    padding: 0;
}

#grey-line, #black-line {
    position: absolute;
}

.add-buttons {
    display: flex;
    gap: 10px;
}

.add-to-wishlist, .add-to-cart, .add-and-checkout {
    display: flex;
    text-align: center;
    border: 1px solid;
    border-radius: 25px;
    padding: 5px;
}

.add-to-wishlist p, .add-to-cart p, .add-and-checkout p {
    margin: auto;
}

.button-img {
    width: 18px;
    height: 18px;
    margin: 5px;
}

/* Cart */
body.no-scroll{
    overflow: hidden;
}

#cart-overlay {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#cart-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#blur {
    width: 100%;
    height: 100%;
}

#side-cart {
    position: fixed;
    right: -390px;
    width: 390px;
    height: 100vh;
    transition: right 0.3s ease;
    overflow-y: auto;
}

#side-cart.active {
    right: 0;
}

#top-fix {
    position: fixed;
    width: 390px;
}

#cart-top {
    height: 30px;
}

#cart-prods {
    margin-top: 50px;
    height: 401px;
    border-bottom: 1px solid;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-indiv-prods {
    display: flex;
    width: 100%;
    border-bottom: 1px solid;
    padding: 10px;
    align-content: center;
    gap: 10px;
}

#empty {
    text-align: center;
}

.desc1, .desc2 {
    display: flex;
    width: 286px;
    height: 35px;
    justify-content: space-between;
    align-content: baseline;
    margin-top: 0px;
    margin-bottom: 5px;
}

#quantity {
    text-align: center;
    border: 1px solid;
    width: 50px;
    padding: 5px;
}

.move-to-wishlist {
    width: 60px;
    height: 70px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

.move-to-wishlist p, .move-to-wishlist img {
    margin: 0;
}

#cart-details {
    padding: 10px;
}

#cart-wishlist {
    width: 80%;
    height: 80px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    margin-bottom: 50px;
}

#subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#checkout-button {
    width: 200px;
    height: 25px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* ---------- */

footer {
    text-align: center;
    height: 35px;
}
