body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(20px, 4vw, 50px);
    border-bottom: 1px solid;
    padding: 10px;
}
header img, #cart-overlay img {
    width: clamp(15px, 2vw, 20px);
    height: clamp(15px, 2vw, 20px);
    margin: 5px;
}

main {
    margin-top: clamp(20px, 4vw, 50px);
    padding: 25px;
}

input, .third, button {
    border: 1px solid;
    border-radius: 10px;
    width: 80vw;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    height: 40px;
}

.half {
    width: 38vw;
    margin-right: 1vw;
}

.third {
    width: 25vw;
    margin-right: 1vw;
}

#discount {
    width: 59vw;
    margin-right: 1vw;
}

button {
    width: 19vw;
}

#cost, #total {
    display: flex;
    justify-content: space-between;
}

#order {
    text-align: center;
    align-content: center;
    margin: auto;
    width: 70vw;
    height: 25px;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
}

footer {
    text-align: center;
    height: 35px;
}