body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

.nav1, .nav2, #cart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(20px, 4vw, 50px);
    border-bottom: 1px solid;
    padding: 10px;
}

.nav2 {
    padding: 10px 15vw;
}

header img, #cart-top img, #checkout-button img, .move-to-wishlist img {
    width: clamp(15px, 2vw, 20px);
    height: clamp(15px, 2vw, 20px);
    margin: 5px;
}

.wishlist {
    text-align: center;
}

.wishlist p, .wishlist img {
    margin: 0;
}

main {
    margin-top: clamp(40px, 8vw, 100px);
    padding: 50px 20px 20px 20px;
}

#buttons {
    display: flex;
    gap: 20px;
}

.buttons {
    width: 75px;
    height: 25px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

#products {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 50px;
}

@media (max-width: 930px) {
    .results-indiv-prods img {
        width: 191px;
        height: 287px;
    }
}

@media (max-width: 400px) {
    .results-indiv-prods img {
        width: 105px;
        height: 165px;
    }
}

/* Cart */
body.no-scroll{
    overflow: hidden;
}

#cart-overlay {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#cart-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#blur {
    width: 100%;
    height: 100%;
}

#side-cart {
    position: fixed;
    right: -390px;
    width: 390px;
    height: 100vh;
    transition: right 0.3s ease;
    overflow-y: auto;
}

#side-cart.active {
    right: 0;
}

#cart-top {
    height: 30px;
}

#cart-prods {
    height: 398px;
    border-bottom: 1px solid;
}

.cart-indiv-prods {
    display: flex;
    width: 100%;
    height: 132px;
    border-bottom: 1px solid;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

#empty {
    text-align: center;
}

.cart-prod-desc {
    display: flex;
    width: 286px;
    justify-content: space-between;
}

.move-to-wishlist {
    width: 60px;
    height: 70px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

.move-to-wishlist p, .move-to-wishlist img {
    margin: 0;
}

#cart-details {
    padding: 10px;
}

#cart-wishlist {
    width: 80%;
    height: 80px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    margin-bottom: 50px;
}

#subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#checkout-button {
    width: 200px;
    height: 25px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer {
    text-align: center;
    height: 35px;
}