body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

#added-pop-up {
    display: none;
}

.nav1, .nav2, #added-pop-up.active {
    display: flex;
    align-items: center;
    height: clamp(20px, 4vw, 50px);
    border-bottom: 1px solid;
    padding: 10px;
}

.nav1, #added-pop-up.active {
    justify-content: space-between;
}

header img {
    width: clamp(15px, 2vw, 20px);
    height: clamp(15px, 2vw, 20px);
    margin: 5px;
}

main {
    margin-top: clamp(40px, 8vw, 100px);
    padding: 42px 0 0 0;
}

.search-indiv-prods {
    display: flex;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid;
}

.prod-desc {
    display: flex;
    width: 300px;
    justify-content: space-between;
    height: 125px;
}

@media (max-width= 400px) {
    .prod-img {
        width: 80px;
        height: 125px;
    }
    .prod-desc {
        height: 85px;
    }
}

.add-buttons {
    display: flex;
    gap: 20px;
}

.add-to-wishlist, .add-to-cart {
    display: flex;
    text-align: center;
    border: 1px solid;
    border-radius: 25px;
    padding: 5px;
}

.add-to-wishlist p, .add-to-cart p {
    margin: auto;
}

.button-img {
    width: 18px;
    height: 18px;
    margin: 5px;
}

footer {
    text-align: center;
    height: 35px;
}