/* General/shared styling */
body, select, input, button {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #E8EAE9;
}
    
header, #top-fix {
    background-color: #D8F3FE;
}

.nav1 {
    font-size: clamp(20px, 3vw, 30px);
}

.nav2, .full-prod-desc {
    font-size: clamp(10px, 2.5vw, 25px);
}

a {
    color: black;
    text-decoration: none;
}

main, #side-cart {
    background-color: white;
}

.add-to-wishlist, .move-to-wishlist {
    background-color: lightgrey;
    font-size: medium;
}

select, button {
    font-size: medium;
}

.search-add-to-cart, .add-to-cart, .add-and-checkout, .buttons, #checkout-button {
    background-color: #F3E5C3;
    font-size: medium;
}

#side-cart, #cost, #total {
    font-size: large;
}

/* Homepage */
#slogan {
    font-size: clamp(10px, 2.5vw, 25px);
}

.home-prod-desc {
    background-color: #F3E5C3;
    box-shadow: 4px 4px lightgrey;
}

/* Results */
#results p {
    font-size: large;
}

/* Product Page */
select {
    font-size: medium;
}

.additional {
    font-size: clamp(5px, 2vw, 20px);
}

/* Cart */
.cart-indiv-prods {
    font-size: medium;
}

#shipping-text {
    font-size: medium;
}

/* Purchasing Cart */
input {
    font-size: large;
}

#order {
    font-size: x-large;
}

/* Confirmation Page */
#message {
    font-size: large;
}

#confirmation, #order-num {
    font-size: xx-large;
}
