body {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #E8EAE9;
}
    
nav {
    background-color: #D8F3FE;
}

.nav1 {
    font-size: clamp(10px, 3vw, 30px);
}

.nav2, #slogan {
    font-size: clamp(5px, 2.5vw, 25px);
}

.prod_desc {
    background-color: #F3E5C3;
    box-shadow: 4px 4px lightgrey;
}